<div id="myCarousel" class="carousel slide carusel-slide">
  <!-- Carousel items -->
  <div class="carousel-inner">
    <div class="item item-hot active">
      <h1>Hot MUSIC</h1>
    </div>
    <% @hot.each do |track| %>
    <div class="item item-hot">
      <table class="table table-striped">
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
            <tr>
              <td><%= image_tag track.artwork_url, :class => "artwork" %></td>
              <td><%= track.title %></td>
              <td><%= track.duration %></td>
              <td><%= track.track_type %></td>
              <td>
                <%= link_to [track.stream_url, "client_id=42bc72e771330ed2161c76607b4c74eb"].compact.join('?'), :class => "btn       btn-success" do %>
                  <i class="icon-download-alt"></i> <small>Save_as</small>
                <% end %>
              </td>
              <td><%= link_to "#{track.permalink_url}", track.permalink_url, :class => "label label-info" %></td>
            </tr>
        </tbody>
      </table>
    </div>
    <% end %>
  </div>
  <!-- Carousel nav -->
  <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
</div>
