<div class="alert alert-success"><%= "Поиск по запросу '#{params[:search]}':" %></div><br>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Автор - Трэк</th>
      <th>Длительность(сек.)</th>
      <th>тип</th>
      <th>Ссылка на скачку</th>
      <th>Информация о трэке</th>
    </tr>
  </thead>
  <tbody>
    <% @search.each do |track| %>
      <tr>
        <td><%= track.title %></td>
        <td><%= track.duration %></td>
        <td><%= track.track_type %></td>
        <td>
          <%= link_to [track.stream_url, "client_id=42bc72e771330ed2161c76607b4c74eb"].compact.join('?'), :class => "btn btn-success" do %>
            <i class="icon-download-alt"></i> <small>Save_as</small>
          <% end %>
        </td>
        <td><%= link_to "#{track.permalink_url}", track.permalink_url, :class => "label label-info" %></td>
      </tr>
    <% end %>
  </tbody>
</table>