<div class="navbar navbar-fixed">
  <div class="navbar-inner">
    <div class="container">
      <a class="btn btn-navbar" data-target=".nav-collapse" data-toggle="collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </a>
      <%= link_to "MusicSearch", root_path, :class => "brand" %>
      <div class="nav nav-v">
        <%= form_tag root_path, :method => 'get' do %>
          <p>
            <%= text_field_tag :search, params[:search], :class => "navbar-search pull-left" %>
            <%= button_tag :class => "btn btn-primary" do %>
              <i class="icon-search"></i> Найти
            <% end %>
          </p>
        <% end %>
      </div>
      <div class="nav pull-right">
          <ul class="nav nav-pills">
            <li class="active">
              <%= link_to "Популярное", "#" %>
            </li>
            <li>
              <%= link_to "Свой лист", "#" %>
            </li>
          </ul>
      </div>          
    </div>
  </div>
</div>